.anjuta/*
.anjuta_sym_db.db
.autotools
.cproject
.project
autom4te.cache/*
myForm.pdf
AcroForm-example.pdf
test.pdf
src/poppler-0.51.0-pdfunite.cc
src/poppler-0.52.0-pdfunite.cc
src/melangePopplerWriter2017.cc
/src/melangePopplerWriter-0.4.3.c
/src/poppler-0.54.0-pdfunite.cc
mingw/dist
mingw/dist/*
mingw/download
mingw/download/*
mingw/output
mingw/output/*
mingw/poppler-0.24.5*
mingw/poppler-0.24.5/*
mingw/poppler-0.32.0*
mingw/poppler-0.32.0/*
zim-wiki
zim-wiki/*

# Backup files #
################
*~

# Compiled source #
###################
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

